{
    "printWidth": 90,
    "tabWidth": 4,
    "singleQuote": true,
    "trailingComma": "es5",
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "semi": true,
    "requirePragma": false,
    "proseWrap": "preserve",
    "arrowParens": "avoid",
    "htmlWhitespaceSensitivity": "css",
    "quoteProps": "preserve",
    "vueIndentScriptAndStyle": true,
    "embeddedLanguageFormatting": "auto",
    "overrides": [
        {
            "files": "*.json",
            "options": {
                "parser": "json"
            }
        },
        {
            "files": "*.js",
            "options": {
                "parser": "babel"
            }
        },
        {
            "files": "*.vue",
            "options": {
                "parser": "vue"
            }
        }
    ]
}
