$darkPrimary: #444444;
$darkDecorations: rgba(255, 153, 0, 0.877);
$darkContent: rgba(204, 204, 204, 0.527);
$darkTextColor: white;
$darkShadows: rgba(0, 0, 0, 0.26);
$darkIconButtons: rgb(29, 29, 29);
