$primaryTheme: #444444;
$myYellow: rgba(255, 153, 0, 0.877);
$softGrey: rgba(204, 204, 204, 0.527);
$textColor: white;
$shadows: rgba(0, 0, 0, 0.26);
$iconButtonsColor: rgb(29, 29, 29);

// $primaryTheme: #e9e9e9;
// $myYellow: rgba(0, 119, 255, 0.877);
// $softGrey: rgba(226, 225, 225, 0.568);
// $textColor: rgb(27, 27, 27);
// $shadows: rgba(70, 70, 70, 0.26);
// $iconButtonsColor: rgb(150, 150, 150);
